.fields{
    text-align: left;
    margin-left: 10%;
    display: inline;
}

.value{
    font-size: 25px;
    text-align: right;
}

.alertprofile {
    height: 50px;
    width: 500px;
    margin-left: 35%;
}

.contactheader{
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
}

.warning {
    text-align: center;
    margin-left: 5%;
}