.col{
    text-align: center;
}

/* h1{
    margin-top: 150px;
    margin-bottom: 20px;
} */

h2{
    margin-bottom: 50px;
}

.firstlink {
    margin-left: 15%;
}

.secondlink {
    margin-left: -10%;
}

.thirdlink {
    margin-left: 5%;
}

.registerationheader {
    margin-top: 25%;
    margin-left: 13%;
}

.loginheader {
    margin-top:36%;
    margin-left: -3%;
}